/** @format */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 3rem;
  font-weight: 700;
}
.description {
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center;
}

.CTA_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 3rem;
}
.CTA_container > a {
  text-decoration: none;
}
.action_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  text-decoration: none;
  outline: 1px solid gray;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 2.93rem;
  padding: 1rem;
  width: 9rem;
  height: 3rem;
  border: none;
  background-color: transparent;
}

.action_button > p {
  font-size: 1.5rem;
  font-weight: 500;
}

.action_button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
